services:
  mysql:
    platform: linux/amd64
    image: mysql:8.0
    container_name: mysql_server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: smarthack2025
      MYSQL_USER: django_user
      MYSQL_PASSWORD: django_pass
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    platform: linux/amd64
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      mysql:
        condition: service_healthy

  redis:
    platform: linux/amd64
    image: redis:7-alpine
    container_name: redis_smarthack
    restart: always
    expose:
      - 6379
    volumes:
      - redis_data:/data

  django_app:
    platform: linux/amd64
    build: .
    container_name: django_smarthack_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
    environment:
      DB_HOST: mysql
      REDIS_HOST: redis
      DB_NAME: smarthack2025
      DB_USER: django_user
      DB_PASSWORD: django_pass

volumes:
  mysql_data:
  redis_data:
